version: '3.8'

x-airflow-common: &airflow-common
  image: apache/airflow:2.9.2
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    _PIP_ADDITIONAL_REQUIREMENTS: ""
    AIRFLOW__CORE__MIN_FILE_PROCESS_INTERVAL: 10  # 每 10 秒掃描 DAG
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    -  C:/Users/88696/Desktop/airflow-data:/opt/airflow/data  # host → container
    -  /var/run/docker.sock:/var/run/docker.sock              # DockerOperator 必須
  user: "0:0" 
  depends_on:
    postgres:
      condition: service_healthy
    redis:
      condition: service_healthy

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash -c
    user: "0:0"
    command: >
      "mkdir -p /opt/airflow/logs /opt/airflow/dags /opt/airflow/plugins && 
       chown -R ${AIRFLOW_UID:-50000}:0 /opt/airflow &&
       airflow db migrate &&
       airflow users create \\
         --username admin \\
         --password admin \\
         --firstname Admin \\
         --lastname User \\
         --role Admin \\
         --email admin@example.com"

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

  airflow-worker:
    <<: *airflow-common
    command: celery worker

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer

volumes:
  postgres-db-volume:
